<footer class="bg-black text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 pt-2">
                <a class="navbar-brand" href="#">
                    <h1><i class="fa-solid fa-rocket" style="color: #ffffff;"></i></h1>
                </a>
            </div>
            <div class="col-1">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">WHITEPAPER</a>
                    </li>
                </ul>
            </div>
            <div class="col-1">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">RESEARCH</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NEWS</a>
                    </li>
                </ul>
            </div>
            <div class="col-1">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</a>
                    </li>
                </ul>
            </div>
            <div class="col-7 text-right">

            </div>
            <div class="col-1 text-center pt-2">
                <a class="text-muted " href="#">
                    <!-- <h1><i class="fa-brands fa-github"></i></h1> -->
                    <i class="fa-brands fa-github" style="font-size:55px;"></i>
                  </a>
            </div>
        </div>
    </div>
</footer>


<!-- Local JS -->
<script src="/web.js"></script>