<!-- <% if (sections.length > 0) { %>
        <% sections.forEach(section => { %>
          <% if (section.content.title == null) { %>
            <p>hi</p>
            <section>
              <h2 class="section-title"><%= section.section_title%></h2>
              <section>
                <p><%= section.content.content%></p>
              </section>
            </section>
            <% } %>
        <% }) %>
      <% } -->