<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="about ">
                <div class="container">
                    <h2>MEET THE TEAM</h2>
                    <hr />
                    <div class="row text-center">
                        <% for (var k=0; k < 6; k++) { %>
                            <div class="col-lg-4 col-sm-6 d-flex pt-4 px-5">
                                <div class="card mb-4 shadow-sm flex-fill">
                                    <div>
                                        <img class="card-img-top rounded-circle"
                                            src="https://via.placeholder.com/250x250.png?text=Placeholder+Image" alt="">
                                    </div>
                                    <div class="card-body justify-content-between">
                                        <span>
                                            <h6 class="card-text">Name</h6>
                                            <h6 class="card-text">Postion</h6>
                                        </span>
                                        <div class="mt-2">
                                            <a class="text-muted d-inline-block" href="#">
                                                <i class="fa-solid fa-envelope" style="font-size: 30px;"> &nbsp</i>
                                                <i class="fa-brands fa-github" style="font-size: 30px;"> &nbsp</i>
                                                <i class="fa-brands fa-square-instagram" style="font-size: 30px;"></i>
                                            </a>
                                        </div>
                                        <div>
                                            two-three sentences
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <% } %>

                    </div>
                </div>
            </div>

            <%- include("./partials/footer.ejs") %>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>


</html>