<html lang="en">
<%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <!-- Body -->
    <section class="summary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Project Summary</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt velit at lectus tristique tristique. Maecenas vestibulum blandit bibendum. Integer sed justo lobortis, efficitur nulla eu, pellentesque sapien. Morbi varius felis vitae metus pharetra, ac lacinia erat consectetur.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt velit at lectus tristique tristique. Maecenas vestibulum blandit bibendum. Integer sed justo lobortis, efficitur nulla eu, pellentesque sapien. Morbi varius felis vitae metus pharetra, ac lacinia erat consectetur.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt velit at lectus tristique tristique. Maecenas vestibulum blandit bibendum. Integer sed justo lobortis, efficitur nulla eu, pellentesque sapien. Morbi varius felis vitae metus pharetra, ac lacinia erat consectetur.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt velit at lectus tristique tristique. Maecenas vestibulum blandit bibendum. Integer sed justo lobortis, efficitur nulla eu, pellentesque sapien. Morbi varius felis vitae metus pharetra, ac lacinia erat consectetur.</p>
            <p>Pellentesque bibendum mauris ac tellus facilisis, eget vestibulum nulla euismod. Nullam sagittis nisi id magna efficitur ullamcorper. Donec vitae ex vel sem vestibulum feugiat in quis velit. Praesent sit amet imperdiet purus, at elementum lectus. Duis ac sapien eget odio facilisis fermentum at at lectus.</p>
          </div>
        </div>
        <div class="row media-links">
          <div class="col-12">
            <h3>Media Links</h3>
            <ul>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Link 5</a></li>
            </ul>
          </div>
        </div>
        <div class="row contact-info">
          <div class="col-12">
            <h3>Contact Information</h3>
            <p>123 Main Street</p>
            <p>Anytown, USA 12345</p>
            <p>Phone: (123) 456-7890</p>
            <p>Email: info@projectname.com</p>
          </div>
        </div>
      </div>
    </section>
    <%- include("./partials/footer.ejs") %>
  </body>
  

</html>