<html lang="en">
<%- include("./partials/head.ejs") %>

<body class="news">
  <%- include("./partials/nav.ejs") %>
  <!-- Body -->
  <section class="summary">
    <div class="container">
      <h2>In the News</h2>

      <% links.forEach(link => { %>
        <a class="single" href="<%= link.url %>">
          <p class="snippet"><u><%= link.title %></u></p>
        </a>
      <% }) %>
    </div>
  </section>
  <footer style="position: absolute;">
    Copyright &copy; Peregrine 2023
  </footer>
   <!-- Local JS -->
   <script src="/web.js"></script> 

</html>
