<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>Development and Research</h2>
    <p class="snippet">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc omni virtuti vitium contrario nomine opponitur. Qui enim voluptatem 
      ipsam contemnunt, iis licet dicere se acupenserem maenae non anteponere. Atqui reperies, inquit, in hoc quidem pertinacem; Duo Reges: 
      constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Videmusne ut pueri ne verberibus quidem a 
      contemplandis rebus perquirendisque deterreantur? Sed quid sentiat, non videtis. Nos cum te, M. An dolor longissimus quisque miserrimus, 
      voluptatem non optabiliorem diuturnitas facit? Non pugnem cum homine, cur tantum habeat in natura boni; Causa autem fuit huc veniendi ut 
      quosdam hinc libros promerem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc omni virtuti vitium contrario nomine opponitur. Qui enim voluptatem 
      ipsam contemnunt, iis licet dicere se acupenserem maenae non anteponere. Atqui reperies, inquit, in hoc quidem pertinacem; Duo Reges: 
      constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Videmusne ut pueri ne verberibus quidem a 
      contemplandis rebus perquirendisque deterreantur? Sed quid sentiat, non videtis. Nos cum te, M. An dolor longissimus quisque miserrimus, 
      voluptatem non optabiliorem diuturnitas facit? Non pugnem cum homine, cur tantum habeat in natura boni; Causa autem fuit huc veniendi ut 
      quosdam hinc libros promerem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc omni virtuti vitium contrario nomine opponitur. Qui enim voluptatem 
      ipsam contemnunt, iis licet dicere se acupenserem maenae non anteponere. Atqui reperies, inquit, in hoc quidem pertinacem; Duo Reges: 
      constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Videmusne ut pueri ne verberibus quidem a 
      contemplandis rebus perquirendisque deterreantur? Sed quid sentiat, non videtis. Nos cum te, M. An dolor longissimus quisque miserrimus, 
      voluptatem non optabiliorem diuturnitas facit? Non pugnem cum homine, cur tantum habeat in natura boni; Causa autem fuit huc veniendi ut 
      quosdam hinc libros promerem</p>
   
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
