<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
    <div class="container">
      <p>
        Restate the development timeline
        Mention that we are using a decentralized data structure, describe the Distributed Hash Table (DHT). Embed a link to jump back to a section of the white paper which will give more information, something like “Read more in the Peregrine whitepaper”.
        Mention that we are researching a unique and open-source hashing algorithm which pulls together the well-known perceptual and cryptographic classes of hashing algorithms to create the “perceptographic” algorithm. Describe why it’s needed and how it works. Embed a link to jump back to a section of the white paper which will give more information, something like “Read more in the Peregrine whitepaper”.
        Link the Peregrine repository and maybe even embed something interesting into the webpage like the number of stars and watches for the repo. 
        Link the P2P library repository and maybe even embed something interesting into the webpage like the number of stars and watches for the repo. 

      </p>
      

      
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  
  <%- include("./partials/footer.ejs") %>
</body>
</html>
