<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>White Paper</h2>
    <div class="container">
      <img src="/paper.jpg" alt="Long Image">
    </div>
   
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>