
/* Add any custom styles here */
/* Header styles */
a{
  color: #000;
}

body {
  /* Set the background image */
  padding-top: 80px;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

body::before {
  /* Create a semi-transparent overlay on top of the background image */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Set the color of the overlay */
  opacity: 0.5; /*Adjust the opacity of the overlay to make the image less obvious*/
  z-index: -1; /* Set the z-index to be behind the content */
}

/* Style the body text */
body p {
  color: #333;
  opacity: 0.9; /* Adjust the opacity of the text to make it more obvious than the background image */
}

/* body{
    padding-top: 140px;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
} */

.offcanvas {
  position: fixed;
  top: 120px;
  right: 0;
  bottom: 50px;
  z-index: 1040;
  visibility: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}
.offcanvas.show {
  visibility: visible;
  transform: translateX(0);
}
#open-menu-btn{
  position: fixed;
  top: 65px;
  right: 25px;
}

header {
  background-color: #fff;
  color: #000;
  padding: 20px 0;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 9999;
}
.navbar-brand {
  font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #000;
    height: 45px;
  }
.navbar-brand {
  color: #fff;
}
.navbar-toggler-icon {
  background-color: #fff;
}

header .navbar-toggler {
  border-color: #f0ca45;
}

.nav-link {
  font-size: 13px;
  font-family: 'Pacifico', cursive;
  font-family: 'Pathway Extreme', sans-serif;
  color: #eee;
}
.nav-link:hover {
  color: #f0ca45;
}

.logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .logo img {
    width: 100%;
    height: auto;
  }
  
.about .card{
  border: none; 
}
.about .card-body{
  padding: 5px;
}

/* Body styles */
main {
  padding: 100px 0;
}

main .summary-section {
  background-color: #f9f9f9;
  padding: 50px;
}

main .media-links-section {
  background-color: #eee;
  padding: 30px 50px;
}

main .contact-info-section {
  background-color: #f9f9f9;
  padding: 30px 50px;
}

main h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

main ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

main ul li {
  margin-bottom: 10px;
}

main a {
  color: #000;
  text-decoration: none;
}

main a:hover {
  color: #f0ca45;
  text-decoration: none;
}

/* Footer styles */

footer {
  position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
  background-color: #000;
}

footer .nav-link {
  color: #fff;
  padding-top: 8px;
  padding-bottom: 3px;
}

footer.nav-link:hover {
  color: #ccc;
}

footer img {
  max-height: 40px;
  max-width: 100%;
}

/*
paper section
*/
section{
  margin-top: 15px;
  margin-bottom: 35px;
}
.first-section{
  padding-top: 170px;
  margin-top: 0px;
  height: 600px;
  color:black;
  background-image: url('/bg.jpg');
  background-size: cover; 
  background-position: center;

}
.first-section h1{
  font-size: 70px;
}
.second-section .container{
  padding: 0px 80px;
}

.second-section .card{
  background-color: #F5F5F5;
  border: 2px solid rgb(178, 174, 174);
}

.third-section{
  margin-bottom: 0px;
}



.section-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.paper-title{
  font-family: 'Times New Roman', Times, serif;
}
.author{
  font-family: 'Times New Roman', Times, serif;
}
.section-title{
  font-family: serif;
}

.buffer{
  height: 200px;
}

.paper-img{
  width: 500px;
  height: auto;
}







.offcanvas-open {
  overflow: hidden;
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1040; /* greater than offcanvas */
}

.offcanvas {
  z-index: 1041; /* greater than offcanvas-overlay */
}

