
/* Add any custom styles here */
/* Header styles */
body{
    padding-top: 140px;
}
header {
  background-color: #fff;
  color: #000;
  padding: 20px 0;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 9999;
}
header .navbar-brand {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header .navbar-toggler {
  border-color: #f0ca45;
}

header .nav-link {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 20px;
}

header .nav-link:hover {
  color: #f0ca45;
}

.logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .logo img {
    width: 100%;
    height: auto;
  }
  

header .search-logo {
  margin-right: 10px;
}

/* Body styles */
main {
  padding: 100px 0;
}

main .summary-section {
  background-color: #f9f9f9;
  padding: 50px;
}

main .media-links-section {
  background-color: #eee;
  padding: 30px 50px;
}

main .contact-info-section {
  background-color: #f9f9f9;
  padding: 30px 50px;
}

main h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

main ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

main ul li {
  margin-bottom: 10px;
}

main a {
  color: #000;
  text-decoration: none;
}

main a:hover {
  color: #f0ca45;
  text-decoration: none;
}

/* Footer styles */
footer {
  text-align: center;
  background-color: #f0ca45;
  color: #fff;
  padding: 20px 0;
  margin-top: 50px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
paper section
*/
section{
  margin-top: 15px;
  margin-bottom: 5px;
}
.section-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.paper-title{
  font-family: 'Times New Roman', Times, serif;
}
.author{
  font-family: 'Times New Roman', Times, serif;
}
.section-title{
  font-family: serif;
}
